@import "src/scss/var";
@import "src/scss/mixin";
@import "src/scss/inheritance";

.header_content {
  @extend %flex-center;
  justify-content: space-between;
}

.today {
  padding-top: 10px;
  font-size: 28px;
}

.calendar {
  padding-bottom: 50px;
}

.calendar_header {
  padding-bottom: 25px;
  small {
    color: grey;
  }
}

.calendar_buttons {
  @extend %flex-center;
  gap: 8px;
  button {
    width: 40px;
    height: 40px;
    border: solid 2px $main;
    border-radius: 7px;
    @extend %flex-center;
    background: $main;
    img {
      width: 17px;
    }
  }
}

.calendar_buttons .notification_button {
  background: white;
}

.date {
  text-transform: capitalize;
}
