@import 'src/scss/inheritance';
@import 'src/scss/mixin';
@import 'src/scss/var';

.welcome,
.welcome_text {
  @extend %flex-center;
  flex-direction: column;
  text-align: center;
}

.welcome_container {
  @extend %flex-center;
  flex-direction: column;
  padding: 30px;
  h1 {
    font-size: 20px;
  }
  p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 22px;
    opacity: 0.6;
  }
}

.auth_button {
  border-radius: 30px;
  border: none;
  position: absolute;
  bottom: env(safe-area-inset-bottom);
  padding: 17px;
  max-width: 400px;
  width: 90%;
  background: $main;
  color: white;
  font-size: 18px;
  @extend %flex-center;
  gap: 10px;
}
