@import "src/scss/var";
@import "src/scss/mixin";
@import "src/scss/inheritance";

.steps {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  position: relative;
}

.steps li:last-child div[class*="stick"] {
  display: none;
}

//.steps .finished {
//  .step {
//    border: solid 2px #7e7e7e;
//  }
//
//  .stick {
//    margin-top: 5px;
//    background: #7e7e7e;
//  }
//}
