@import 'src/scss/var';
@import 'src/scss/mixin';
@import 'src/scss/inheritance';

.toasts {
  position: fixed;
  right: 0;
  bottom: calc(env(safe-area-inset-bottom) + 65px);
  padding: 20px;
}

.toasts_container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
