@import 'src/scss/mixin';
@import 'src/scss/var';
@import 'src/scss/inheritance';

.journals_container {
  padding: 30px;
  h1 {
    @extend %page-heading;
  }

  h4 {
    @extend %heading-4;
    margin-bottom: 30px;
  }
}

.subject_categories {
  margin-top: 40px;
  div[data-name="skeleton"] {
    margin-top: 20px;
  }
}

