@import 'src/scss/var';
@import 'src/scss/mixin';
@import 'src/scss/inheritance';

.points {
  @extend %flex-center;
  flex-direction: column;
}

.points .point:nth-child(3) {
  .stick {
    display: none;
  }
}

.points .point:nth-child(3) .point {
  @extend %flex-center;
  flex-direction: column;
}

.circle div:nth-child(2) {
  position: absolute;
}

.circle_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.stick {
  @extend %flex-center;
}
