@import 'src/scss/var';
@import 'src/scss/mixin';
@import 'src/scss/inheritance';

.schedule_skeleton {
  padding-top: 25px;
  display: flex;
  gap: 25px;
}

.skeleton_card {
  width: 100%;
  max-width: 300px;
  padding: 11px 15px 6px 15px;
  height: 90px;
  border-radius: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 5px;
}

.card_footer {
  display: flex;
  justify-content: space-between;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 20px;
}
