@import "src/scss/inheritance";
@import "src/scss/mixin";
@import "src/scss/var";

.profile_header,
.student_info_container,
.profile_navigation,
.student_photo_container {
  @extend %flex-center;
  flex-direction: column;
}

.profile_header,
.student_details {
  padding: 0px 15px;
}

.profile_header {
  padding-top: 10px;
  padding-bottom: 28px;
  border-radius: 0px 0px 26px 26px;
  background: $main;
  color: white;
}

.profile_navigation {
  width: 100%;
  position: relative;
  flex-direction: row;
}

.profile_title {
  font-family: "Fixel Text";
  font-weight: 400;
  font-size: 24px;
}

.settings_container {
  position: absolute;
  right: 0;
  text-align: end;
}

.student_photo_container {
  margin: 18px 0px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background: $grey-1; //TODO: Put this to _var
  img {
    border-radius: 50%;
  }
}

.student_info_container {
  h2 {
    font-size: 18px;
    margin-bottom: 12px;
  }
  p {
    font-size: 14px;
  }
}

.student_details {
  position: relative;
  section {
    margin-top: 18px;
    h4 {
      color: $grey-3;
      font-size: 14px;
    }
  }

  section:not(:first-child) {
    padding-top: 20px;
    &:before {
      content: "";
      position: absolute;
      margin-top: -10px;
      height: 1px;
      width: 100%;
      background: rgba(241, 241, 241, 0.8);
      left: 0;
    }
  }
}

.check_title {
  width: 100%;
}
