@import 'src/scss/inheritance';
@import 'src/scss/mixin';
@import 'src/scss/var';


.percentage {
  fill: #4285f4;
  font-size: 0.375em;
  text-anchor: middle;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
}
.percentage_done {
  fill: #9b9b9b;
  font-size: 0.2em;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
}

.second path {
  max-width: 60% !important;
  max-height: 200px !important;
}

.grade {
  position: absolute;
  flex-direction: column;
  p {
    font-size: 36px;
  }
  small {
    color: #807c7c;
    margin-top: 4px;
  }
}

.grade_info {
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    font-weight: 600;
  }
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 180px;
  svg {
    position: absolute;
    max-width: 200px;

    @for $i from 1 to 4 {
      &:nth-child( #{$i}) {
        width: calc(210px - (28px * $i));
      }
    }

  }

}

.grade_loader {
  font-size: 40px !important;
  color: #e5e5e5;
}