@import "src/scss/var";
@import "src/scss/mixin";
@import "src/scss/inheritance";

.menu_item a {
  width: 46px;
  height: 40px;
  border-radius: 10px;
  @extend %flex-center;
  padding: 5px;
  svg {
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
}

.active {
  background: $main;
  svg path {
    fill: white;
  }
}

.nav {
  border-top: 1.5px solid #CDCDCD;
  border-radius: 17px 17px 46px 46px;
  padding: 10px 18px;
}