@import 'src/scss/var';
@import 'src/scss/mixin';
@import 'src/scss/inheritance';

.menu_item a {
  width: 46px;
  height: 40px;
  border-radius: 10px;
  @extend %flex-center;
  padding: 5px;
  svg {
    width: 27px;
    height: 27px;
    cursor: pointer;
    fill: #666666;
  }
}

.menu_item .active {
  background: $main;
  svg {
    fill: white;
  }
}

.nav {
  position: fixed;
  bottom: 0px;
  background: #ffffff;
  width: calc(100vw - 30px);
  max-width: 430px;
  border-top: 1.5px solid #cdcdcd;
  border-radius: 17px 17px 0px 0px;
  padding: 13px 16px 18px 16px;
}
