@import 'src/scss/inheritance';
@import 'src/scss/mixin';
@import 'src/scss/var';

.payment_header,
.payment {
  @extend %flex-center;
}

.payment_main {
  margin-left: 40px;
}

.payment_header {
  justify-content: flex-start;
  h1 {
    @extend %page-heading;
    margin-left: 9px;
  }
  img {
    margin-top: -5px;
  }
}

.payment {
  padding: 10px;
  align-items: start;
}

.payment_item {
  margin-top:18px;

  h4 {
    @extend %heading-4;
    font-weight: 500;
  }
  p {
    line-height: 22px;
    margin-top: 5px;
    font-weight: 600;
  }
}
