@import "src/scss/var";
@import "src/scss/mixin";
@import "src/scss/inheritance";

.refetch_btn, .refetch_btn_container {
  @extend %flex-center;
}
.refetch_btn_container {
  flex-direction: column;
  gap: 13px;
  button {
    margin-top: 20px;
  }
  h2 {
    font-size: 26px;
  }

}


.refetch_btn {
  width: 100%;
  height: 100%;
  padding-top: 90px;
}