%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%heading-4 {
  color: #7e7e7e;
  font-weight: lighter;
  font-size: 16px;
}

%page-heading {
  h1 {
    font-weight: 600;
  }
}
