@import "src/scss/var";
@import "src/scss/mixin";
@import "src/scss/inheritance";

.date {
  display: block;
  height: 20px;
  text-transform: capitalize;
  font-size: 14px;
  padding-bottom: 5px;
}
.today {
  font-size: 24px;
  overflow: hidden;
  span {
    display: block;
  }
}
