@import "src/scss/var";
@import "src/scss/mixin";
@import "src/scss/inheritance";

.subjects_list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.subjects {
  flex-grow: 2;
  width: 80%;
}

.subject_info {
  display: flex;
  justify-content: space-between;
  h3 {
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.subject {
  max-width: 300px;
  padding: 11px 15px 6px 15px;
  border-radius: 20px;
  background: #f1f1f2;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;

  h3 {
    opacity: 0.5;
  }

  &_details {
    @extend %flex-center;
    margin-top: 10px;
    justify-content: space-between;
  }
}

.schedule_main {
  @extend %flex-center;
  justify-content: space-between;
}

.subject_time,
.subject_lecturer,
.subject_location {
  color: grey;
}

.details_info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 7px;
}

.subject_active {
  background: $main;
  box-shadow: 0 0 0 rgba($main, 0.4);
  animation: pulse 2s infinite;
  opacity: 1;
  color: white;
  small {
    color: white;
  }
  h3 {
    opacity: 1;
  }
}

.subject_active ~ li h3 {
  opacity: 1;
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($main, 0.4);
    box-shadow: 0 0 0 0 rgba($main, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 11px rgba($main, 0);
    box-shadow: 0 0 0 11px rgba($main, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba($main, 0);
    box-shadow: 0 0 0 0 rgba($main, 0);
  }
}
