@import "src/scss/var";
@import "src/scss/mixin";
@import "src/scss/inheritance";

.subjects_list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.subjects {
  flex-grow: 2;
  width: 80%;
}

.schedule_main {
  @extend %flex-center;
  justify-content: space-between;
}
